extends layout

block content
  #pagepiling
    section.slide.Slide0
      .intro
        h4 this is great
    section.slide.Slide1
      .intro
        h4 so good
    section.slide.Slide2
      .intro
        h4 best show ever
    section.slide.pp-scrollable.MainContent
      p this is the normal page
      p more normal content
      p this is still the normal page
