.slide
  background-attachment: fixed
  background-size: cover
  background-position: 50% 0%
  background-repeat: no-repeat

.Slide0
  background-image: url('/images/0.jpg')

.Slide1
  background-image: url('/images/1.jpg')

.Slide2
  background-image: url('/images/2.jpg')
